.conatiner{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 28px;
}
.conatiner input{
    width: 84%;
    padding: 30px;
}
.buttons{
    display: grid;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button{
    width: 60%;
    height: 60px;
    margin: 20px;
    border-radius: 30px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border: 0.5px solid gray;
    text-align: center;
    font-size: px;
    cursor: pointer;
}
#equal{
    background-color: gold;
}
 button{
    background-color: gold;
}